.column {
    background-color: #412323;
    color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.col-3 {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #412323;
}


.col-3:nth-of-type(odd) {
    background-color: rgb(31, 96, 137)
}

.col-3:nth-of-type(even) {
    background-color: #2147c3;
}